body, html {
    height: 100%;
    margin: 0;
    overflow: hidden;
    background: #fff5f8;
  }
  
  .customizer {
    width: 300px;
    background: white;
    border-radius: 15px;
    margin: 20px;
    height: fit-content;
  }
  
  .canvas-container canvas {
    width: 100%;
    height: 100%;
  }
  